<div class="container">
  <h1>Here are my cocktails</h1>
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placeimg.com/640/480/any)"  %>
  <% end %>
  </div>
</div>

